body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}
.form-section {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
}
.separator {
    width: 20px;
    height: 100%;
    background-color: #eee;
    margin: 0 10px;
}
.form-section h2 {
    margin-bottom: 20px;
    color: #481589;
}
.form-section form {
    display: flex;
    flex-direction: column;
}
.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="password"] {
    background-color:transparent;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #eee;
}
.form-section input::placeholder {
    color: #ddd;
}
.form-section input[type="submit"] {
    background-color: #00cc00;;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-section input[type="submit"]:hover {
    background-color: #034903;

}
.form-section label {
    text-align: left;
    color: #481589;
}
a{
    text-decoration: none;
    color: white;
}