/* Estilos gerais */
body {
  background-color: #2b002b;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --cor_primaria: #3e003e;
  --cor_secundaria:#9c98a7;
  --cor--terciaria:#04880a;
  --cor-btn:#0056b3;
  --cor-btn-txt:white;
}

/* Estilos para o cabeçalho */
header {
  background-color: var(--cor_secundaria);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo svg {
  width: 30px;
  height: 30px;
  fill: red;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}
#linha{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Estilos para o main e containers */
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  flex: 1;
}
#lista_tarefas{
  display: flex;
  justify-content: space-around;
}
#lista_tarefas li{
  list-style: none;
  width: 30%;
  height: 100px;
  background-color: var(--cor--terciaria);
  margin-top:3%;
  padding: 10px;
  border-radius: 5%;
}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
.popup-background {
  display: none; /* Escondido por padrão */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.611); /* Fundo semi-transparente */
  position: fixed; /* Fixo em toda a tela */
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Sobrepor a outros elementos */
}
#popup_inputs{
  display: flex;
  flex-direction: column;
}
.popup-main {
  width: 70%;
  max-width: 500px;
  background-color: var(--cor_primaria);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.64);
  position: relative;
  color: rgb(255, 255, 255);
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

#agenda-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #888;
}

#AgendaInputs label {
  display: block;
  margin-bottom: 10px;
}

#AgendaInputs input[type="text"],
#AgendaInputs input[type="time"],
#AgendaInputs input[type="submit"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#AgendaInputs input[type="submit"] {
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
  cursor: pointer;
  transition: background-color 0.3s;
}

#AgendaInputs input[type="submit"]:hover {
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
}


.container {
  background-color: var(--cor_primaria);
  padding: 20px;
  border-radius: 8px;
}

.organization-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.tasks-container, .tasks-container2 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.tasks-container button{
  height: 50px;
  background-color: #212529;
  color: white;
  border-radius: 10px;
}
.tasks-container2 button{
  width: 100%;
  height: 40px;
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
}

.task {
  background-color: #008000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.task_block form button{
  background-color: #0056b3;
  border-radius: 10px;
}
.task_block {
  margin:10px;
}

.task:hover{
  opacity: 0.8;
}

.task-add {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.task.completed {
  background-color: #212529;
}

.task-icon {
  margin-right: 5px;
}

.task-text {
  flex-grow: 1;
}

.task-checkbox {
  display: none;
}
.note_block{
  background-color: #212529;
  list-style: none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  word-wrap: break-word; /* Permite a quebra de palavras longas */
  word-break: break-all; /* Quebra palavras longas quando não há espaço disponível */
  white-space: pre-wrap; /* Mantém as quebras de linha e espaços */
}
.note_block form{
  height: 20px;
}
.note_block button{
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
  border-radius: 10px;
}
.event_block{
  background-color: var(--cor--terciaria);
  color: white;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
#add-event-button{
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
  width: 100%;
  height: 30px;
}
.event_block button{
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
  border-radius: 10px;
}

.filter {
  background-color: #9e9393;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.filter:hover {
  background-color: #43df75;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.notes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notes_input ul{
  list-style: none;
  padding-right: 0;
}

.notes-container input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.notes-container button {
  padding: 10px;
  background-color: var(--cor-btn);
  color: var(--cor-btn-txt);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#main_notes{
  resize: none; /* Previne redimensionamento */
  padding-bottom: 100px;
  max-width: 100%;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

/* Estilos para a barra lateral */
.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.schedule-container ul{
  list-style: none;
}

.schedule-item, .schedule-item2 {
  background-color: #3e003e;
  padding: 10px;
  border-radius: 4px;
  color: lightblue;
}

.schedule-item-title {
  font-weight: bold;
}

.progress-container {
  background-color: #3e003e;
  padding: 20px;
  border-radius: 8px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
}

.progress-bar-filled {
  height: 100%;
  background-color: #28a745;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .notes-container {
    flex-direction: column;
  }
  #lista_tarefas li{
    width: 100%;
  }
  .notes-container button {
    margin-top: 10px;
  }
}
#calendar {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.calendar-weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-weekdays div {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#calendar .past {
  background-color: #ccc;
  color: #666;
}

#sobres{
  background-color: rgba(0, 0, 0, 0.315);
  padding: 50px;
  border-radius:1%  ;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.past-day {
  background-color: #ddd; /* Cor de fundo para dias passados */
  color: #999; /* Cor do texto para dias passados */
  cursor: default; /* Desativa o cursor para dias passados */
}

/* Estilo humor*/
.opcoes-humor{
  display: flex;
  flex-direction: row;
}
.btn-humor{
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.btn-humor img{
  width: 40px; 
  height: 40px;
}
#btn-humor-inicio{
  width: 20%;
}